body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #BB86FC;
}

.calculator {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-style: italic;
  color: #c37129;
}

input,
select { /* Apply the styling to both input and select elements */
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #d4c27a;
}

button {
  background-color: #03DAC5;
  color: #BB86FC;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #BB86FC;
  color: #03DAC5;
}

.results {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #555;
}

.result-box {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #444;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 0;
  font-style: italic;
  text-decoration: underline;
  color: #947d91;
}

p {
  color: #ddd;
}

strong {
  color: #c37129;
}

span {
  color: #d4c27a;
}

.unit {
  color: #d4c27a;
}

.error {
  color: #FF0000;
  font-weight: bold;
}
